services:
  app-despesas-pessoais-prod:
    image: alexfariakof/api-despesas-backend-netcore-img
    logging:
      driver: json-file
      options:
        max-size: "2m"
        max-file: "1"
    build:
       context: .
       dockerfile: src/WebApi/Dockerfile.production        
    environment:
       TZ: America/Sao_Paulo
       ASPNETCORE_ENVIRONMENT: Production
    ports:
       - 80:80
       - 443:443  