<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Environment" value="Development"/>
		<add key="CryptoConfigurations:Key" value="JEaTf;At4O?_kC:=pJxJ4_|_U/:*" />
		<add key="CryptoConfigurations:AuthSalt" value="#.~m,z=kY4zbUxdxD?`[`T" />
	</appSettings>
	<connectionStrings>
		"MsSqlConnectionString": "Data Source=127.0.0.1, 1433; Initial Catalog=Dev.DespesasPessoaisDB;User Id=sa;Password=!aA12345;Encrypt=False;",
		<add name="SqlConnectionString" connectionString="Server=127.0.0.1;Database=Dev.DespesasPessoaisDB;Uid=root;Pwd=!12345;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>
